---
import { messagesData } from './data.js';
import './styles.css';

const items = messagesData.messages ?? [];

const loopItems = [...items, ...items];

---

<section class="px-4 sm:px-6 lg:px-8 max-w-screen-2xl mx-auto pt-12 lg:pt-32 lg:pb-48">
  <h2 class="text-5xl font-bold text-neutral-100 text-left">Mensajes y dedicatoria</h2>

  <div class="overflow-x-hidden mask-gradient-lr pt-20 pb-20 slider">
    <div class="slides flex flex-nowrap gap-[30px] w-[max-content] will-change-transform">
      {loopItems.map((m, i) => (
        <article
          class="article group flex-none w-[484px]"
          aria-hidden={i >= items.length}
          id="messages"
        >
          <div class="space-y-4">
            <img src={messagesData.icon} alt="" class="coin transform-gpu group-hover:animate-coin-jump" />
            <p class="text-white leading-relaxed">"{m.text}"</p>
            <p class="mt-4">
              <strong class="text-white font-semibold text-lg">{m.author}</strong>
              {" "}-{" "}
              <span class="text-white/90 text-sm">{m.date}</span>
            </p>
          </div>
        </article>
      ))}
    </div>
  </div>
</section>

<audio id="coin-sound" src={messagesData.sounds.coin} preload="auto"></audio>

<script>
  const articles = document.querySelectorAll("#messages");
  const audioEl = document.querySelector("#coin-sound");

  let audioUnlocked = false;

  function unlockOnce() {
    if (audioEl instanceof HTMLAudioElement) {
      const p = audioEl.play();
      if (p && typeof p.then === "function") {
        p.then(() => {
          audioEl.pause();
          audioEl.currentTime = 0;
          audioUnlocked = true;
        }).catch(() => {
          console.log('audio bloqueado -_-')
        });
      }
    }
    window.removeEventListener("pointerdown", unlockOnce);
    window.removeEventListener("touchstart", unlockOnce);
    window.removeEventListener("keydown", unlockOnce);
  }
  window.addEventListener("pointerdown", unlockOnce, { once: true, passive: true });
  window.addEventListener("touchstart", unlockOnce, { once: true, passive: true });
  window.addEventListener("keydown", unlockOnce, { once: true });

  articles.forEach((a) => {
    a.addEventListener("pointerenter", () => {
      if (!(audioEl instanceof HTMLAudioElement)) return;
      if (!audioUnlocked) return;

      const ch = audioEl.cloneNode(true);
      if (ch instanceof HTMLAudioElement) {
        ch.volume = audioEl.volume;
        ch.play().catch(() => {});
        ch.addEventListener("ended", () => ch.remove());
        document.body.appendChild(ch);
      }
    }, { passive: true });
  });
</script>