---
import Button from "@components/Button.astro";
import { Image } from "astro:assets";
import { heroData } from "./data.js";
import type { HeroProps } from "./types.js";

export interface Props extends HeroProps {}

const { heading, subheading, description } = heroData;
---

<section
  class="flex flex-col lg:flex-row justify-center items-center min-h-[calc(100dvh-90px)] max-w-screen-2xl mx-auto h-full gap-10 lg:gap-4"
>
  <div>
    <div class="space-y-6">
      <Image
        src="/Tyto-Sandy.webp"
        alt="Tyto Sandy"
        width="124"
        height="163"
        class="object-cover"
      />
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold bg-clip-text text-white text-transparent animate-neon"
      >
        {heading}
      </h1>
      <p
        class="text-4xl sm:text-5xl lg:text-6xl stroke-white text-transparent animate-neon"
      >
        {subheading}
      </p>
      <p class="text-2xl text-white">
        {description}
      </p>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-center lg:justify-start gap-4 mt-12"
    >
      <Button variant="primary"> Donar al Paypal </Button>
      <Button id="button_hero_agenda" variant="secondary"> Ver agenda</Button>
    </div>
  </div>
  <div class="flex-1 relative space-y-4">
    {
      heroData.images.map((image, index) => (
        <div
          class={
            "relative flex flex-col w-fit h-[480px] aspect-[10/16] bg-white/10 backdrop-blur px-4 py-6 border border-gray-800/20 lg:absolute hover:rotate-0 hover:scale-105 lg:hover:scale-125 transition-all duration-150 hover:z-50 brightness-90 hover:brightness-100 " +
            image.position
          }
        >
          {image.showStars ? (
            <div class="flex flex-row items-center  justify-end absolute top-0 gap-4 right-[-15px] rotate-45">
              <svg
                width="48"
                height="47"
                viewBox="0 0 48 47"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="rotate-[30deg]"
              >
                <path
                  d="M20.2554 0.350439L29.1392 16.3375L47.0582 20.0001L31.0712 28.8839L27.4086 46.8029L18.5248 30.8159L0.605768 27.1533L16.5928 18.2695L20.2554 0.350439Z"
                  fill="url(#paint0_linear_23_152)"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_23_152"
                    x1="0.605768"
                    y1="27.1533"
                    x2="47.0582"
                    y2="20.0001"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#F3384A" />
                    <stop offset="1" stop-color="#972123" />
                  </linearGradient>
                </defs>
              </svg>

              <svg
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="rotate-[30deg]"
              >
                <path
                  d="M23.0698 0.464589L19.1194 12.1629L25.4285 22.7766L13.7301 18.8262L3.11641 25.1353L7.0668 13.437L0.757701 2.82329L12.456 6.77369L23.0698 0.464589Z"
                  fill="url(#paint0_linear_23_153)"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_23_153"
                    x1="0.757701"
                    y1="2.82329"
                    x2="25.4285"
                    y2="22.7766"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#F3384A" />
                    <stop offset="1" stop-color="#972123" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          ) : null}

          <img
            src={image.src}
            alt={image.alt}
            class="w-full h-full object-cover aspect-auto"
          />
          <p class="text-white pt-6 text-center">{image.title}</p>
        </div>
      ))
    }
    <div
      class="absolute inset-x-0 top-1/4 lg:translate-x-1/4 lg:-translate-y-1/4 scale-150 -z-10"
    >
      <img src="/Ellipse-hero.svg" alt="" />
    </div>
  </div>
</section>

<script>
  const button_hero_agenda = document.querySelector("#button_hero_agenda");
  button_hero_agenda?.addEventListener?.("click", () => {
    window.location.href = "/agenda";
  });
</script>
