---
import Button from "@components/Button.astro";
import { heroData } from "./data.js";
import type { HeroProps } from "./types.js";
import { Image } from "astro:assets";

export interface Props extends HeroProps {}

const { heading, subheading, description } = heroData;
---

<section
  class="flex flex-col lg:flex-row justify-center items-center min-h-[calc(100dvh-90px)] max-w-screen-2xl mx-auto h-full gap-4"
>
  <div>
    <div class="space-y-6">
      <Image
        src="/Tyto-Sandy.webp"
        alt="Tyto Sandy"
        width="124"
        height="163"
        class="object-cover"
      />
      <h1
        class="text-4xl sm:text-5xl lg:text-6xl font-bold bg-clip-text text-white text-transparent animate-neon"
      >
        {heading}
      </h1>
      <p
        class="text-4xl sm:text-5xl lg:text-6xl stroke-white text-transparent animate-neon"
      >
        {subheading}
      </p>
      <p class="text-2xl text-white">
        {description}
      </p>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mt-12">
      <Button variant="primary"> Donar al Paypal </Button>
      <Button variant="secondary"> Ver Codepen</Button>
    </div>
  </div>
  <div class="flex-1 relative">
    {
      heroData.images.map((image, index) => (
        <div
          class={
            "w-fit bg-white/10 backdrop-blur px-4 py-6 border border-gray-800 absolute " +
            image.position
          }
        >
          <img
            src={image.src}
            alt={image.alt}
            width="300"
            height="300"
            class="object-cover"
          />
          <p class="text-white mt-6">{image.title}</p>
        </div>
      ))
    }
  </div>
</section>
